<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suchengkeji.android.w30sblelibrary">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service android:name=".W30SBLEServices" />
        <receiver android:name=".BlueStateReceiver">

            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
